<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <main>
        <h1>Flower data</h1>
        <p><span class="legend">Flower Id: </span><span class="legend"><%= result.flowerId %></span></p>
        <p>Name: <%= result.name %></p>
        <p>Farmer: <%= result.farmer %></p>
        <p>Site is <%= result.site %></p>
        <p>Stock: <%= result.stock %> €</p>
        <a href="/"><button>Menu</button></a>
    </main>   
</body>
</html>